ADMIN_GITHUB_USERS=NAMUORI00
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_INSTALLATION_ID=
GITHUB_REPO_OWNER=NAMUORI00
GITHUB_REPO_NAME=namuori-portfolio-cms
SESSION_SECRET=
